{{#if messages}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            {{#each messages }}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{this}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{/if}}