<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Guitar Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{#if isAuthenticated}}
                        <a class="dropdown-item" href="/user/profile">Profile</a>
                        <a class="dropdown-item" href="/user/logout">Logout</a>
                        {{else}}
                        <a class="dropdown-item" href="/auth/signup">SingUp</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/auth/signin">SignIn</a>
                        {{/if}}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products/add">New Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products">List of Products</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary text-white" href="/cart">
                        <i class="fas fa-shopping-cart"></i>
                        List of Products <span class="badge badge-light">
                            {{session.cart.totalQuantity}}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>