<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>SignUp</h1>
        {{#if messages}}
        {{#each messages }}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{this}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/each}}
        {{/if}}

        <form action="/auth/signup" method="POST">
            <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email" autofocus>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <!-- CSRF -->
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit">
                SignUp
            </button>
        </form>
    </div>
</div>